<template v-if="!user">
<div class="md-card-content md-layout">
<form 
    @submit.prevent="signIn" 
    class="md-layout-item md-size-50 md-xsmall-size-100"
    :disabled="submitting"
    >
    <div class="md-title">{{signInForm.title}}</div>
    <md-field>
        <md-icon>{{assets.email.icon}}</md-icon>
        <label>{{assets.email.label}}</label>
        <md-input
            :disabled="submitting"
            v-model.tirm="signInForm.email.value"
            type="email"
            required />
    </md-field>
    <md-field>
        <md-icon>{{assets.password.icon}}</md-icon>
        <label>{{assets.password.label}}</label>
        <md-input
            :disabled="submitting"
            v-model.tirm="signInForm.password.value"
            type="password"
            required />
    </md-field>
    <div>
        <md-button class="md-raised md-primary" type="submit" :disabled="submitting">{{signInForm.title}}</md-button>
    </div>
    <div>
        <md-progress-bar md-mode="indeterminate" v-if="submitting"></md-progress-bar>
    </div>
</form>
</div>
</template>


